body {
  background-color: #95c2de;
}

.mainbox {
  background-color: #95c2de;
  margin: auto;
  height: 600px;
  width: 600px;
  position: relative;
}

.err {
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 9rem;
  position: absolute;
  left: 20%;
  top: 8%;
}

.far {
  position: absolute;
  font-size: 5.5rem;
  left: 42%;
  top: 15%;
  color: #ffffff;
}

.err2 {
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 9rem;
  position: absolute;
  left: 68%;
  top: 8%;
}

.msg {
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  position: absolute;
  left: 16%;
  top: 45%;
  width: 75%;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
 .msg {
  position: absolute;
  left: 16%;
  top: 45%;
  width: 75%;
}

.err2 {
  font-size: 5rem;
}

.far {
  position: absolute;
  font-size: 2rem;
  left: 42%;
  top: 15%;
  color: #ffffff;
}

.mainbox {
  height: 300px;
  width: 300px;
}

.err {
  font-size: 5rem;
}

}

