{% extends 'base.html.twig' %}

{% block title %} Reset Password {% endblock %}

{% block body %}
    <div class="login" id="particles-js">
        <div class="container mt-5 bg-light">
            <h5>  Reset Password:  </h5>
            {{ form_start(form)}}

                {{ form_row(form.password.first, {"attr":{"class":"form-control-solid h-auto p-6 rounded-lg font-size-h6"}}) }}
                {{ form_row(form.password.second, {"attr":{"class":"form-control-solid h-auto p-6 rounded-lg font-size-h6"}}) }}

                <div class="orm-group d-flex flex-wrap pb-lg-0">
                    <button type="sumit" class=" btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4f">
                        Save
                    </button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}