{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}
{% block body %}
{#
<section class="container">
	{% for user in users %}
		{% if user.id != app.user.id %}
			<div class="card rounded-circle bg-light text-primary">
				<a href="{{ path('conversation_new', {'id': user.id}) }}" class="btn btn-sm btn-success">{{ user.username }} </a>
			</div>
		{% endif %}
	{% endfor %}
</section>
#}

<div id="root"></div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}