{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
	<div id="root" class="data" data-user="{{ app.user.id }}"></div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}