
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/src/.preload.php
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
/public/uploads/
/public/bundles/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
updates.db
todo.md
.php_cs.cache
.php-cs-fixer-v2.phar
.circleci/*
.phpintel/*
mercure_binary
.idea
php-cs-fixer
