input.dropzone-image{
    width: 100%;
    height: 150px;
    cursor: pointer;
    opacity: 0;
}

.image-wrapper{
    position: relative;
    border: 1px dashed blue;
    border-radius: 2px;
    margin:5px;
}

img.picture-src{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 100%;
}