.my_msg{
    float: left;
}
.not_my_msg{
    float: right;
}

.not_my_msg .msg-text{
    color: green;
}

.msg-text{
   text-align: center;
   margin-top: 2px;
   padding: 3px;
   border-radius: 5px;
   color: blue;
}

div#msg{
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    overflow: auto;
    border-radius: 5px;
    margin: 3px 5px 0 5px;
    padding: 9px 0 5px 3px;
    background-color: rgba(177, 158, 177, 0.2);
}

.msgs{
    height: 70vh;
    overflow-y: auto;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

img[data-toggle="modal"]:hover{
    cursor: pointer;
    transform: scale(1.02);
    border-radius: 5px!important;
    text-align: center;
}


img[data-toggle="modal"]{
    border-radius: 5px!important;
    text-align: center;
}

span.eye{
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


div.image-wrapper{
    position: relative;
}

audio{
    border-radius: 7px;
    margin-left: 15px;
    margin-top: 5px;
}