{% extends 'base.html.twig' %}

{% block title %}Conversations{% endblock %}

{% block body %}
    <h1>
        Conversations
    </h1>
    <div class="container">
        {% for conv in convs %}
            <a href="{{ path('conversation_index', {'id' : conv.id}) }}"><div class="card">
                {% for u in conv.users %}
                    {% if u != app.user %}
                        <b>{{  u.email }}</b> 
                    {% endif %}
                {% endfor %}: {{ conv.lastMessage.content|default('start chat now') }}
                <small class="text-muted text-primary"> {{ conv.createdAt|date }} </small>
            </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
